.git
.plans
.readmeter
**/node_modules
target
**/dist
apps/ingest/wasm
sdks/js/firebase/wasm
sdks/js/firebase/bundle
**/*.tgz
**/.env
**/.env.*
!deploy/.env.example
**/*-debug.log
**/playwright-report
**/test-results
docs
examples
